################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BenchmarkMappers/bin/Debug/net8.0
/BenchmarkMappers/obj
